# Readme First
Petal Power Inventory
You’re the lead data analyst for a chain of gardening stores called Petal Power. Help them analyze their inventory!

If you get stuck during this project or would like to see an experienced developer work through it, click “Get Help“ to see a project walkthrough video.

Answer Customer Emails
1.
Data for all of the locations of Petal Power is in the file inventory.csv. Load the data into a DataFrame called inventory.

2.
Inspect the first 10 rows of inventory.

3.
The first 10 rows represent data from your Staten Island location. Select these rows and save them to staten_island.

4.
A customer just emailed you asking what products are sold at your Staten Island location. Select the column product_description from staten_island and save it to the variable product_request.

5.
Another customer emails to ask what types of seeds are sold at the Brooklyn location.

Select all rows where location is equal to Brooklyn and product_type is equal to seeds and save them to the variable seed_request



Inventory

6.
Add a column to inventory called in_stock which is True if quantity is greater than 0 and False if quantity equals 0.

7.
Petal Power wants to know how valuable their current inventory is.

Create a column called total_value that is equal to price multiplied by quantity.

8.
The Marketing department wants a complete description of each product for their catalog.

The following lambda function combines product_type and product_description into a single string:

combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)
Paste this function into script.py.

9.
Using combine_lambda, create a new column in inventory called full_description that has the complete description of each product.

In [1]:
# %load script.py
# import codecademylib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## 1. Data for all of the locations of Petal Power is in the file inventory.csv. 
## Load the data into a DataFrame called inventory.

In [2]:
inventory = pd.read_csv('inventory.csv')

## 2. Inspect the first 10 rows of inventory.

In [5]:
inventory.head(10)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

## 3. The first 10 rows represent data from your Staten Island location. Select these rows and save them to staten_island.

In [3]:
staten_island = inventory[:10]

In [4]:
staten_island

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [25]:
product_request = inventory['product_type']
product_request

0            seeds
1            seeds
2            seeds
3     garden tools
4     garden tools
5     garden tools
6     pest_control
7     pest_control
8          planter
9          planter
10           seeds
11           seeds
12           seeds
13    garden tools
14    garden tools
15    garden tools
16    pest_control
17    pest_control
18         planter
19         planter
20           seeds
21           seeds
22           seeds
23    garden tools
24    garden tools
25    garden tools
26    pest_control
27    pest_control
28         planter
Name: product_type, dtype: object

In [26]:
product_request.value_counts()

seeds           9
garden tools    9
pest_control    6
planter         5
Name: product_type, dtype: int64